.db{
 font-family: "Segoe Print";
 font-size: xx-large;
 padding-left: 35%;
 padding-right: 38%; 

}
.img
{   padding-left: 35%;
    padding-right: 38%; 
    
}
@font-face {
    font-family: "Segoe Print";
    src: url(fonts/segoepr.ttf);
} 
